header{
   display: flex;
   align-items: center; 
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.header .logo{
    max-height: 32px;
}

.header .header-img{
    padding-left: 25px;
}

.header .header-img i{
    padding-right: 5px;
}

.header .i{
    text-align: center;
}