.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/05/02/1849540287-nos-matamos-o-cao-tinhoso-1.jpg');
    background-size: cover;
  }
  